@page
@model Retro_grupp_g.Pages.Customers.IndexModel
@{
}

@if (TempData["Message"] is string ok)
{
    <div class="alert alert-success">@ok</div>
}

<h1>Kunder</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Ny kund</a>
    <a class="btn btn-primary" asp-page="/Addresses/Index">Adresser</a>
</p>


<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="SearchTerm" value="@Model.SearchTerm" class="form-control" placeholder="Sök förnamn, efternamn eller e-post..." />
        <button type="submit" class="btn btn-outline-secondary">Sök</button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Kund-ID</th>
            <th>E-post</th>
            <th>Aktiv</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Customers)
        {
            <tr> 
            <td>@c.FirstName @c.LastName</td>
            <td>@c.CustomerId</td>
            <td>@c.Email</td>   
            <td>@(c.Active ? "Ja" : "Nej")</td>
            <td>
                <a asp-page="Details" class="small-link" asp-route-id="@c.CustomerId">Visa</a> |
                <a asp-page="Edit" class="small-link" asp-route-id="@c.CustomerId">Redigera</a> |
                <a asp-page="Delete" class="small-link" asp-route-id="@c.CustomerId">Ta bort</a>
            </td>
            </tr>
        }
    </tbody>
    </table>