@page
@model Retro_grupp_g.Pages.Films.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titel:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
        <dt class="col-sm-2">
            Beskrivning:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Description)
        </dd>
        <dt class="col-sm-2">
            År filmen hade premiär:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            Hur länge filmen får hyras:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.RentalDuration)
        </dd>
        <dt class="col-sm-2">
            Kostnad per dag:
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.Film.RentalRate)
        </dd>
        <dt class="col-sm-2">
            Längd, i minuter:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Length) minuter
        </dd>
        <dt class="col-sm-2">
            Kostnad för att ersätta film:
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.Film.ReplacementCost)
        </dd>
        <dt class="col-sm-2">
            Åldersgräns/Rating:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Rating)
        </dd>
        <dt class="col-sm-2">
            Extramaterial:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.SpecialFeatures)
        </dd>
        <dt class="col-sm-2">
            Senast uppdaterad:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-page="./Edit" asp-route-id="@Model.Film.FilmId" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
