@page
@model Retro_grupp_g.Pages.Rentals.IndexModel
@{
	ViewData["Title"] = "Uthyrning av filmer";

}
<h1>Hitta film!</h1>
<form method="post">
	<input asp-for="SearchTerm" class=" form-control" style="width: 30%;" placeholder="Sök på titel, skådespelare, regissör, genre" />
	<br><button type="submit" class="btn-primary">Sök</button>
</form>
<br>
<br>
<table class="table">
	<thead>
		<tr>
			<th>Titel</th>
			<th>Genre</th>
			<th>Språk</th>
			<th>Skådespelare</th>
			<th>Tillgänglig</th>
			<th>Hyr denna film</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var film in Model.Films)
		{
			var isAvailable = true; //måste implementera koll mot Inventory/Rental senare
			<tr>
				<td>@film.Title</td>
				<td>@string.Join(",", film.Genres)</td>
				<td>@film.Language</td>
				<td>@film.ActorSummary</td>
				<td>@(isAvailable ? "Tillgänglig" : "Uthyrd")</td>
				<td><a asp-page="./Rentals/CreateRental" class="btn btn-sm btn-outline-primary" asp-route-filmId="@film.FilmId">Hyr ut</a></td>
			</tr>
		}
	</tbody>
</table>

@* <a asp-page="./Edit" asp-route-id="@item.FilmId" class="small-link">Redigera</a>  *@